In [2]:
#string
a='string'
b="string"
c='''string'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a='10'
print(type(a))

<class 'str'>

In [4]:
a=input("enter a= ")
print(type(a))

enter a= 1
<class 'str'>

In [6]:
a=input("enter value of a= ")
b=input("enter value of b= ")
c=input("enter value of c= ")
d=a+b+c
print(type(d))

enter value of a= ram
enter value of b= shyam
enter value of c= hari
<class 'str'>

In [9]:
a="hello peter\n"
b=a*2
print(b)

hello peter
hello peter

In [10]:
#string formatting
name="ram"
age=34
add="ktm"
info= f"hello world iam {name}.iam from {add}.iam {age}"
print(info)

hello world iamram.iam fromktm.iam34

In [14]:
bill=" "
n=int(input("enter value of n= "))
for i in range (n):
    product=input("enter product name= ")
    price=int(input("enter price= "))
    quantity=int(input("enter quantity= "))
    total=price*quantity
    info=f"{product} {price} {quantity} {total}\n"
    bill=bill+info
    
print(bill)

enter value of n= 2
enter product name= coke
enter price= 2
enter quantity= 2
enter product name= momo
enter price= 4
enter quantity= 2
 coke 2 2 4
momo 4 2 8

In [16]:
#slicing
a="hello peter iam dr octopus"
print(a[0:5])

hello

In [18]:
a="hello peter iam strange"
b=a[0:5]
c=a[5:]
print(b)
print(c)

hello
 peter iam strange

In [22]:
a="peter"
b=a[0:10]
print(b)

peter

In [24]:
a="python"
a[0:10:2]

'pto'

In [25]:
a="peter"
a[::-1]

'retep'

In [31]:
#search
a="ram shyam sita geeta nabin shyam".upper()
search=input("enter search= ").upper()
if search in a:
    print("yes")
    print(a.count(search))

enter search= ram
yes
1

In [29]:
a="ram shyam sita geeta nabin shyam"
print(a.upper())

RAM SHYAM SITA GEETA NABIN SHYAM

In [2]:
a="ram shyam sita geeta nabin shyam"
b=a.replace('ram','hem ')
print(a)
print(b)

ram shyam sita geeta nabin shyam
hem  shyam sita geeta nabin shyam

In [46]:
a="ram shyam sita geeta nabin shyam "
a.split()

['ram', 'shyam', 'sita', 'geeta', 'nabin', 'shyam']

In [45]:
a="ram shyam sita geeta nabin shyam "
print(a)

ram shyam sita geeta nabin shyam

In [3]:
#bill
bill=""
n=int(input("enter the value of n= "))
for i in range (n):
    product=input("enter the name of product= ")
    quantity=int(input("enter the quantity= "))
    price=int(input("enter the price= "))
    total=quantity*price
    info=f"{product} {quanitity} {price} {total}\n"
    bill=bill+info
print(bill)

enter the value of n= 2
enter the name of product= coke
enter the quantity= 2
enter the price= 75
enter the name of product= momo
enter the quantity= 2
enter the price= 150
coke 2 75 150
momo 2 150 300

In [4]:
a="hari shyam sita ram ram"
search=input("enter search= ")
if search in a:
    print("yes ")
    print(a.count(search))

enter search= ram
yes
2

In [19]:
a="hari shyam sita ram ram"
b=a.replace('ram',' ')
print(b)

hari shyam sita

In [9]:
a="hari shyam sita ram ram"
a.split()

['hari', 'shyam', 'sita', 'ram', 'ram']

In [16]:
a="hello peter iam your dad"
b=a[::-1]
print(b)

dad ruoy mai retep olleh

In [18]:
a="hello peter iam your dad"
b=a[0:100:2]
print(b)

hloptrimyu a

In [2]:
a="helo peter"
b=list(a)
b

['h', 'e', 'l', 'o', ' ', 'p', 'e', 't', 'e', 'r']

In [8]:
bill=" "

n=int(input("enter value of n= "))
def billing():
    global bill
    product=input("enter product name= ")
    price=int(input("enter price= "))
    quantity=int(input("enter quantity= "))
    total=price*quantity
    info=f"{product} {price} {quantity} {total}\n"
    bill=bill+info
for i in range(n):
    x=input("enter y for more bill")
    x=='y'
    billing()
print(bill)

enter value of n= 2
enter y for more billy
enter product name= coke
enter price= 200
enter quantity= 2
enter y for more billy
enter product name= momo
enter price= 150
enter quantity= 2
 coke 200 2 400
momo 150 2 300

In [ ]:
bill=""
grand_total=0

n=int(input("enter value of n= "))
def billing(product,price,quantity,total):
    global bill,grand_total
    info=f"{product} {price} {quantity} {total}\n"
    bill=bill+info
    grand_total=grand_total+total
    
for i in range(n):
    product=input("enter product name= ")
    price=int(input("enter price= "))
    quantity=int(input("enter quantity= "))
    total=price*quantity
    billing(product,price,quantity,total)
    
print(bill)
print(grand_total)

enter value of n= 2
enter product name= coke
enter price= 20
enter quantity= 2