In [ ]:
#tuple

In [ ]:
#tuple
#-indexed
#-ordered
#-multiple values
#-imutable
-

In [1]:
a=(1,2,3,4,5)
b=("apple","ball","cat","dog")
print(a)
print(b)

print(type(a))
print(type(b))

(1, 2, 3, 4, 5)
('apple', 'ball', 'cat', 'dog')
<class 'tuple'>
<class 'tuple'>

In [3]:
print(b[0])
print(a[2])

apple
3

In [7]:
a=(1,2,3,4,5)
b=("apple","ball","cat","dog")
c=a+b
print(c)

(1, 2, 3, 4, 5, 'apple', 'ball', 'cat', 'dog')

In [8]:
a=tuple()
#a=()
a=a+("apple",)
a=a+("ball",)
a

('apple', 'ball')

In [10]:
a=("hari",)
type(a)

tuple

In [12]:
t=()
n=int(input("enter n= "))
for i in range(n):
    x=int(input("enter x= "))
    t=t+(x,)
print(t)

enter n= 5
enter x= 11
enter x= 22
enter x= 33
enter x= 44
enter x= 55
(11, 22, 33, 44, 55)

In [ ]:
#No append() extend() insert()
#no del() pop() remove()
#no update
#no sort()

In [ ]:
##No append() extend() insert()
#no del() pop() remove()
#no update
#no sort()
#in order to change any thing inside the tuple you must convert tuple into list and then perform the action
#example below

In [15]:
a=(11, 22, 33, 44, 55)
a=list(a)
del a[0]
a=tuple(a)
a

(22, 33, 44, 55)

In [16]:
a=(11, 22, 33, 44, 55)
print(a*2)

(11, 22, 33, 44, 55, 11, 22, 33, 44, 55)

In [19]:
a=(11, 22, 33, 44, 55)
print(a)

(11, 22, 33, 44, 55)

In [ ]:
#tuple inside tuple
a=((1,2,3),(4,5,6),(7,8,9))

In [21]:
data=()
n=int(input("enter n= "))
for i in range(n):
    name=input("enter name= ")
    age=int(input("enter age= "))
    add=input("enter address= ")
    x=(name,age,add)
    data=data+(x,)
    
print(data)

enter n= 3
enter name= ram
enter age= 20
enter address= ktm
enter name= shyam
enter age= 23
enter address= balkhu
enter name= sonu
enter age= 22
enter address= balkumari
(('ram', 20, 'ktm'), ('shyam', 23, 'balkhu'), ('sonu', 22, 'balkumari'))

AttributeError: 'tuple' object has no attribute 'list'

In [23]:
b=[]
a=((234,234,'34'),('234',34,'234'),('35',234,'234'))
for i in a:
    b.append(list(i))
b

[[234, 234, '34'], ['234', 34, '234'], ['35', 234, '234']]

In [24]:
b=()
a=[[234,234,'34'],['234',34,'234'],['35',234,'234']]
for i in a:
    b=b+(tuple(i),)
b

((234, 234, '34'), ('234', 34, '234'), ('35', 234, '234'))